In [8]:
# Pandas Practice 
# Author: HJ


import pandas as pd

#1. Create a small dataset 
data ={ 
    "Name":["Harshit", "Jyoti", "Rahul","Dinesh"],
    "Age":[27,25,29,26],
    "Department":["HR","IT","finance","Sales"],
    "Salary":[90000,150000,45000,65000]
}
df = pd.DataFrame(data)

#2. Show dataset 
print(df)

# 3. Basic info
print("\nShape:",df.shape)
print("\nColumns:",df.columns)

# 4. Statistics
print("\nAverage Salary:",
      df["Salary"].means())

# 5. Filter example
print("n\Employees in IT Department:\n",
      df[df["Department"]  ==  "IT"])

      Name  Age Department  Salary
0  Harshit   27         HR   90000
1    Jyoti   25         IT  150000
2    Rahul   29    finance   45000
3   Dinesh   26      Sales   65000

Shape: (4, 4)

Columns: Index(['Name', 'Age', 'Department', 'Salary'], dtype='object')

AttributeError: 'Series' object has no attribute 'means'